
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

.navbar{
    color: rgb(106, 34, 222);
    background-color: #cfaec6;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 15px 0;
    display: flex;
}
.section {
  text-align: center;
} 

#shopproduct{
    color: rgb(108, 12, 109);
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

.intoproduct {
    margin: 5px;
    border: 5px solid black;
    width: 250px;
    height: 400px;
}

.intoproduct img {
    width: 100%;
    height: 65%;
    object-fit: contain;
}

.cart{
    align-content: center;
    margin: 20px;
  }
.cart-body{
    margin: 5px;
    border:5px solid black;
    padding: 25px;
    width: 200px;
    height: 350px;
    font-size: larger;
  } 
.cart-img{
    width: 200px;
    height: 60%;
  }
.cart-total{
    display: flex;
    justify-content: space-between;
  }

.btn-order:hover{
    cursor: pointer;
    background-color: rgb(149, 34, 175);
    color: rgb(217, 171, 226);
  }
.cart-title{
    text-align: center;
    font-size: xx-large;
  }
.home{
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
.Order{
    display: flex;
    justify-content: space-between;
  }

