@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

.navbar{
    color: rgb(106, 34, 222);
    background-color: #cfaec6;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

#shopproduct{
    color: rgb(108, 12, 109);
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

.intoproduct {
    margin: 10px;
    border: 2px solid;
    width: 95%;
    height: 300px;
}

.intoproduct img {
    width: 100%;
    height: 65%;
    object-fit: contain;
}

